@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;200;300;400;500;600;700;800;900;1000&display=swap");
body {
  width: 100%;
  height: 100%;
  font-family: "Roboto Flex", sans-serif;
}

#nav-container {
  /* Fixed position, hidden overflow, and high z-index so nav stays above content when scrolling */
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 500;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 4px rgb(160, 160, 160);
  padding: 10px 0;
  background: white;
}

#nav-inner-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.nav-column {
  flex: 1;
  height: 100%;
  padding: 8px 8px;
}
.nav-column .column-inner {
  height: 100%;
}
.nav-column .column-inner #nav-content {
  text-align: center;
}
.nav-column .column-inner #nav-content ul {
  display: inline;
  list-style-type: none;
}
.nav-column .column-inner #nav-content ul .nav-item {
  display: inline-block;
  width: 19%;
  font-size: 12px;
  padding: 10px 0.0005%; /* Responsive left/right spacing between items */
}

#column-left {
  display: flex;
  justify-content: center; /* Centering for logo */
}
#column-left img {
  width: 165px;
  height: 165px;
  position: relative;
  left: 20%;
  bottom: 65px;
}

#column-center {
  flex-grow: 2;
}

/*** Page ***/
.page {
  width: 100%;
  height: 100%;
  margin-top: 70px; /* Top margin to avoid content overlay with nav */
}

#main-content {
  width: 100%;
}

#page-header-container {
  padding: 0 8%;
  margin: 115px 0;
}

/* Flex container with 2 to 1 layout */
.header-stack {
  display: flex;
  flex-direction: column;
  gap: 40px;
  /* Main flex child with thumbnail */
  /* Aside flex child */
}
.header-stack span {
  color: rgb(227, 151, 36);
  font-weight: 200;
}
.header-stack #header-stack-main {
  width: 100%;
}
.header-stack #header-stack-main .stack-main-title h1 {
  padding: 25px 0;
  font-size: 38px;
  font-weight: 700;
}
.header-stack #header-stack-main .thumbnail-wrapper img {
  width: 100%;
  border-radius: 5px;
}
.header-stack #header-stack-aside {
  border: 1px solid rgb(235, 235, 235);
  border-radius: 5px;
}
.header-stack #header-stack-aside h2 {
  padding: 30px;
  font-size: 24px;
  font-weight: 600;
  border-bottom: 1px solid rgb(235, 235, 235);
}
.header-stack #header-stack-aside h4 {
  padding: 30px;
  font-size: 12px;
  border-top: 1px solid rgb(235, 235, 235);
}
.header-stack #header-stack-aside .stack-content-container {
  padding: 10px 30px;
}
.header-stack #header-stack-aside .stack-content-container .stack-item-wrapper {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.header-stack #header-stack-aside .stack-content-container .stack-item-wrapper .thumbnail-wrapper img {
  height: 64px;
  border-radius: 5px;
}
.header-stack #header-stack-aside .stack-content-container .stack-item-wrapper .block-text-wrapper {
  padding-left: 20px;
  padding-bottom: 10px;
}
.header-stack #header-stack-aside .stack-content-container .stack-item-wrapper .block-text-wrapper .time-wrapper {
  padding-bottom: 6px;
}
.header-stack #header-stack-aside .stack-content-container .stack-item-wrapper .block-text-wrapper .time-wrapper time {
  font-size: 10px;
  font-weight: 600;
}
.header-stack #header-stack-aside .stack-content-container .stack-item-wrapper .block-text-wrapper .title-wrapper h3 {
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 6px;
}
.header-stack #header-stack-aside .stack-content-container .stack-item-wrapper .block-text-wrapper .comments-wrapper i {
  font-size: 10px;
  font-weight: 500;
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #nav-container {
    background: green;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #nav-container {
    background: yellow;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #nav-container {
    background: orange;
  }
  .header-stack {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  #page-header-container {
    padding: 0 6%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #nav-container {
    background: red;
  }
  .header-stack #header-stack-main {
    width: 70%;
  }
  .header-stack #header-stack-aside {
    width: 30%;
    gap: 60px;
  }
  .header-stack #header-stack-aside .stack-content-container .stack-item-wrapper {
    padding: 20px 0;
  }
  .header-stack #header-stack-aside .stack-content-container .stack-item-wrapper .block-text-wrapper .time-wrapper time {
    font-size: 14px;
  }
  .header-stack #header-stack-aside .stack-content-container .stack-item-wrapper .block-text-wrapper .title-wrapper h3 {
    font-size: 20px;
  }
  .header-stack #header-stack-aside .stack-content-container .stack-item-wrapper .block-text-wrapper .comments-wrapper i {
    font-size: 14px;
  }
  #page-header-container {
    padding: 0 10%;
  }
}/*# sourceMappingURL=style.css.map */